:root{
    --exlightB: #d0e7f7;
    --exlightBvis: rgb(208,231,247, 0.6);
    --lightB: #90afc5;
    --b: #336B87;
    --grey: #2A3132;
    --red: #763626; 
    --exlightBvis: rgb(144,175,197,0.6)
}

@font-face{
    font-family: Roboto;
    src:local("../fonts/Roboto-Black.ttf")
}


*{
    margin:0;
    padding:0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

body {
    background-image: url(./../images/backgroundcut2fullcomp.jpg);
    background-size: 130%;
}