@import url(default.css);

header{
    background-color: var(--exlightBvis);
    height: 25px;
    border-radius: 4px;
}

/* Add a logo pointing right */
/* for later to point at a donation link */

h1{
    float:left;
    font-size: 15px;
    padding: 7px 0 0 7px;
    color: var(--grey)
}

.headerButton{
    opacity: 0.7;
    display: block;
    float: right;
    padding: 0px 7px;
    padding-top: 6px;
    height: 19px;

    text-decoration: none;
    color: var(--b);
    font-size: 15px;
    font-weight: 1000;
    text-align: center;
    transition: color 0.3s ease-out, background-color 0.2s ease-in-out;
}


.headerButton.active, .headerButton:hover{
    color: var(--exlightB);
    background-color: var(--b)
}

