@import url(default.css);
@import url(header.css);




div.clickItem{
    background-color: rgba(255, 255, 255, 0.06);
    margin-left: 5px;
    width: 490px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3); 
    border-radius: 5px;
    margin-top: 5px;

}

.clickItemContainer{
    display: block;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
}

#listOfItems:last-child{
    margin-bottom: 5px;
}

.startStop{
    flex: 0 0 23px;
    cursor: pointer;
    margin-top:3px;
    height: 23px;
    width: 23px;

    border-radius: 5px;
    background-image: url(../images/greenishpower.svg);

    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}


.clickItem.Active .startStop{
    background-image: url(../images/kindaRed.svg);
}


.itemClassifier{
    flex: 1 0 200px;
    margin-left: 7px;
    text-align: center;
    margin-top: 5px;
    padding-top: 3px;
    height: 17px;
    width: 200px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;


    font-size: 14px;
}

.intervalHolder{
    display: flex;
    flex: 1 0 60px;
    color: var(--textWhite);
    font-size: 13px;
    padding: 5px 0 0 10px;
}

.intervalHolder span{
    margin-top: 6px;
}

.interval{
    margin: 0px 5px;
    border-radius: 4px;
    display: inline-block;
    text-align: right;
    overflow:hidden; 
    white-space: nowrap;  

    font-size: 14px;
    height: 12px;
    font-weight: 500;
    padding: 4px;
    width: 40px;
    color: var(--textGrey);
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}



.deleteButton{
    flex: 0 0 23px;
    margin: 3px 2px 0px 5px;
    border-radius: 3px;
    height: 23px;

    cursor: pointer;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/greybin.svg);
}


#helpImage{
    text-align: center;
    margin: 5px;
    height: 150px;
    font-size: 15px;
    color: rgb(99, 99, 99);

    background-size: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/helpMessage.png);
}

#helpMessage{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--textWhite);
}

/* options dropdown */

.arrow:active .dropDown{
        display: block;
        background-color: rgba(0, 0, 0, 0.20);
        height:100px;
        width: 100%;
}

.dropDownButton.Closed{
    flex: 0 0 23px;
    height: 23px;
    margin-right: 2px;
    margin-top: 3px;
    border-radius: 3px;

    cursor: pointer;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/arrow.svg);
    transition: ease-in-out 0.2s;
    transform: rotate(0deg);

}

.dropDownButton.Opened {
    transition: ease-in-out 0.2s;
    transform: rotate(90deg);
}

.dropDown{
    height: 0;
    transition: height 0.2s ease-out;
    width: 100%;
    overflow:hidden
}

.dropDown.Opened{
    height: 30px;
    transition: height 0.2s ease-in;
    background-color: rgba(0, 0, 0, 0.20);
}

.radioOption{
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 4px;
    float: left;
    padding: 5px;
    margin: 4px 0 0 10px;

    font-size: 14px;
    transition: color 0.4s ease-out;
    color: var(--textGrey);
}

.radioOption:hover {
    cursor: pointer;
    transition: color 0.4s ease-out;
    color: var(--textWhite);
}

.radioOption.selected {
    transition: color 0.4s ease-out;
    color: var(--textWhite);
    background-color: rgba(255, 255, 255, 0.10);
}

.boostHolder{
    margin-right: 20px;
    float: right;
    display: flex;
    flex: 1 0 50px;
    color: var(--textGrey);
    font-size: 14px;
    padding: 5px 0 0 10px;
}

.boostHolder span{
    margin-top: 5px;
}

.boost{
    margin: 0px 5px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    overflow:hidden; 
    white-space: nowrap;  

    font-size: 14px;
    height: 12px;
    font-weight: 500;
    padding: 4px;
    width: 10px;
    color: var(--textGrey);
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}