@import url(default.css);

header{
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
    height: 31px;
    border-radius: 4px;
}

/* Add a logo pointing right */
/* for later to point at a donation link */

h1{
    margin-right: 20px;
    float:left;
    font-size: 15px;
    padding: 11px 0 0 7px;
    color: var(--textWhite)
}

.headerButton{
    display: block;
    float: right; 
    padding: 10px 10px 0px 10px; 
    height: 20px;

    text-decoration: none;
    color: var(--textWhite);
    font-size: 14px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}


.headerButton.active, .headerButton:hover{
    color: var(--textWhite);
    background-color: rgba(255,255,255,0.07)
}

.parentButton{
    float: left;
    cursor: pointer;
    margin: 3px 0px 0 4px;
    height: 24px;
    width: 25px;

    border-radius: 5px;

    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}


#parentStarter{
    background-image: url(../images/greenPowerButton.svg);

}

#parentStopper{
    background-image: url(../images/redPowerButton.svg);
}